<h2 class="text-center">Booking Summary</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Booking ID</td>
        <td>Company</td>
        <td>From</td>
        <td>To</td>
        <td>MOT</td>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |b| %>
      <tr>
        <td>2018/<%= b.id %></td>
        <td><%= b.user.company %></td>
        <td><%= b.route.from %></td>
        <td><%= b.route.to %></td>
        <td><%= b.transport %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



<h3 class="text-center">Most popular times of Bookings</h3>
<%= area_chart Booking.group_by_hour_of_day(:created_at, format: "%l %P").count, xtitle: "Time", ytitle: "Booking", , label: "Booking" %>
